@charset 'utf-8';
@import 'compass';
@import 'https://fonts.googleapis.com/css?family=Cinzel';

// font-family
$baseFontFamily :"游ゴシック", YuGothic, "メイリオ",Verdana, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;

// color
$baseColor: #4E5166;
$fontColor: #FFFFFF;
$subColor: #93A8AC;
$mailColor: #51CA51;
$fbColor: #4d77b4;
$twitterColor: #5cbae1;


html{ font-size: 62.5%; }

body{
  color: $fontColor;
  font-size: 1.4rem;
  font-family:$baseFontFamily;
  line-height:1.6;
  letter-spacing: 0.1em; 
  background-color: $baseColor;
  text-align: center;
}

.cinzel{
    font-family: 'cinzel', sans-serif;
}

    
header{
    background-image: url("../images/header/header.jpg");
    background-size: cover;
    background-position: center center;
    
    @media screen and (-webkit-min-device-pixel-ratio:2), (min-resolution: 2dppx) {
    background-image: url("../images/header/header@2x.jpg");
}

    height: 250px;
    width: 100%;
    .header_title{
        padding-top: 13px;
        h1{
            font-size: 2.7rem;
        }
        h2{
            letter-spacing: 2px;
            font-size: 1.5rem;
            line-height: 1.3;
        }
    }
}

@media (min-width: 678px){
    header{
        height: 470px;
        .header_title{
            padding-top: 20px;
            h1{
                font-size: 5rem;
                letter-spacing: 0rem;
            }
            h2{
                letter-spacing: 4px;
                font-size: 2.5rem;
                line-height: 1.3;
            }
        }
    }
}

.sidebar{
    ul{
        @include display-flex();
        @include justify-content(center); 
        @include align-items(center); 
        
        li{
            border-right: 1.8px solid darken($baseColor, 8%);
            a{
                color: white;
                text-decoration: none;
                
                h3{
                    font-size: 1.5rem;
                    padding: 20px 10px;
                    span{
                        display: block;
                        font-size: 1rem;
                        line-height: 1;
                    }
                }
                
            }
            .intro a{
                font-size: 1.2rem;
            }
        }
        li:last-child{
            border-right: none;
        }
    }
}

@media(max-width:678px){
    .sidebar{
        ul{
            li{
                width: (100%/4);
            }
        }
    }
}

@media(min-width:678px){
    .sidebar{
        ul{
            li{
                border-right: none;
                padding: 15px 50px 15px 0;
                a{
                    h3{
                        font-size: 2.3rem;
                        span{
                            font-size: 1.5rem;
                            line-height: 1.2;
                        }
                    }
                }
                a:hover{
                    color: #AAC4EB;
                    
                }
            }
        }
    }
}

.intro{
    background-color: darken($baseColor, 20%);
    padding: 0 23px 23px 23px;
    h4{
        padding: 18px;
        
        font-size: 2.1rem;
        
        span{
            display: block;
            font-size: 1.5rem;
            line-height: 1;
        }
    }
    p{
        padding: 0;
        text-align: justify;
    }
    @media(min-width:678px){
        padding: 0 28px 28px 28px;
        h4{
            font-size: 3rem;
            span{
                font-size: 2rem;
                
            }
        }
        p{
            font-size: 1.7rem;
            line-height: 2;
            letter-spacing: 0.2em;
            padding: 0 70px 0 70px;
            
        }
    }
}
.btns_pc{
    display: none;
}
.btns_sp{
    a{
        display: block;
        text-decoration: none;
        color: white;
        font-size: 1.8rem;
        
    }
    .mail-btn{
        background-color: $mailColor;
        padding: 13px;
        margin-top:13px;
        margin-bottom:13px;
    }
    .fb-btn{
        background-color: $fbColor;
        padding: 13px;
        margin-top:13px;
        margin-bottom:13px;
    }
    .twitter-btn{
        background-color: $twitterColor;
        padding: 13px;
        margin-top:13px;
        margin-bottom:13px;
    }
}

@mixin btn{
    padding: 9px;
    margin-top: 8px;
    font-size: 1.5rem;
    @include border-radius(3px);
    
    
}

@media(min-width: 678px){
    .btns_sp{
        display: none;
    }
    .btns_pc{
        display: block;
        li{
            display: inline-block;
            padding: 30px;
            margin-right: 55px;
            p{
                font-size: 1.5rem;
            }
            a{
                text-decoration: none;
                color: white;
                .mail-btn{
                    @include btn;
                    background-color: $mailColor;
                    @include box-shadow(0px 4px darken($mailColor, 20%));
                }
                .fb-btn{
                    @include btn;
                    background-color: $fbColor;
                    @include box-shadow(0px 4px darken($fbColor, 20%));
                }
                .twitter-btn{
                    @include btn;
                    background-color: $twitterColor;
                    @include box-shadow(0px 4px darken($twitterColor, 20%));
                }
                
            }
            a:hover{
                .mail-btn{
                    background-color: lighten($mailColor, 5%);
                    @include box-shadow(0px 4px darken($mailColor, 8%));
                }
                .fb-btn{
                    background-color: lighten($fbColor, 5%);
                    @include box-shadow(0px 4px darken($fbColor, 8%));
                }
                .twitter-btn{
                    background-color: lighten($twitterColor, 5%);
                    @include box-shadow(0px 4px darken($twitterColor, 8%));
                }
            }
            a:active{
                top: 3px;
                box-shadow: none;
            }
        }
    }
}

footer{
    background-color: #7a7c8b;
    padding: 3px;
}
//common style

@mixin countryBox{
    background-size: cover;
    background-position: center center;
    padding: 25px;
    font-size: 1.6rem;
    min-height: 175px;
    text-align: justify;
    line-height: 2;
    border-radius: 3px;
}

@mixin countryBox_sp{
    background-size: cover;
    background-position: center center;
    padding: 21px;
    font-size: 1.4rem;
    min-height: 130px;
    text-align: justify;
    line-height: 1.6;
    border-radius: 3px;
}

.countries{
    padding: 10px;
    @include display-flex;
    @include flex-direction(row);
    justify-content: space-between;
    flex-wrap: wrap;
    .country-box{
        width: (100% / 3);
        box-sizing: border-box;
        padding: 5px 30px 5px 30px;
        h5{
            font-size: 2.6rem;
            padding: 10px;
        }
        .singapore{
            background-image: url('../images/overseas/singapore.jpg');
            @media screen and (-webkit-min-device-pixel-ratio:2),
                              (min-resolution: 2dppx){
              background-image: url("../images/overseas/singapore@2x.jpg");
            }
            @include countryBox;
            
        }
        .australia{
            background-image: url('../images/overseas/australia.jpg');
            @media screen and (-webkit-min-device-pixel-ratio:2),
                              (min-resolution: 2dppx){
              background-image: url("../images/overseas/australia@2x.jpg");
            }
            @include countryBox;
        }
        .england{
            background-image: url('../images/overseas/england.jpg');
            @media screen and (-webkit-min-device-pixel-ratio:2),
                              (min-resolution: 2dppx){
              background-image: url("../images/overseas/england@2x.jpg");
            }
            @include countryBox;
        }
        .canada{
            background-image: url('../images/overseas/canada.jpg');
            @media screen and (-webkit-min-device-pixel-ratio:2),
                              (min-resolution: 2dppx){
              background-image: url("../images/overseas/canada@2x.jpg");
            }
            @include countryBox;
        }
        .vietnam{
            background-image: url('../images/overseas/vietnam.jpg');
            @media screen and (-webkit-min-device-pixel-ratio:2),
                              (min-resolution: 2dppx){
              background-image: url("../images/overseas/vietnam@2x.jpg");
            }
            @include countryBox;
        }
        .turkey{
            background-image: url('../images/overseas/turkey.jpg');
            @media screen and (-webkit-min-device-pixel-ratio:2),
                              (min-resolution: 2dppx){
              background-image: url("../images/overseas/turkey@2x.jpg");
            }
            @include countryBox;
        }
        .kagawa{
            background-image: url('../images/japan/kagawa.jpg');
            @media screen and (-webkit-min-device-pixel-ratio:2),
                              (min-resolution: 2dppx){
              background-image: url("../images/japan/kagawa@2x.jpg");
            }
            @include countryBox;
        }
        .kanazawa{
            background-image: url('../images/japan/kanazawa.jpg');
            @media screen and (-webkit-min-device-pixel-ratio:2),
                              (min-resolution: 2dppx){
              background-image: url("../images/japan/kanazawa@2x.jpg");
            }
            @include countryBox;
        }
        .nanatsugama{
            background-image: url('../images/japan/nanatsugama.jpg');
            @media screen and (-webkit-min-device-pixel-ratio:2),
                              (min-resolution: 2dppx){
              background-image: url("../images/japan/nanatsugama@2x.jpg");
            }
            @include countryBox;
        }
        .fox_village{
            background-image: url('../images/japan/fox.jpg');
            @media screen and (-webkit-min-device-pixel-ratio:2),
                              (min-resolution: 2dppx){
              background-image: url("../images/japan/fox@2x.jpg");
            }
            @include countryBox;
        }
        .itsukushima{
            background-image: url('../images/japan/itsukushima.jpg');
            @media screen and (-webkit-min-device-pixel-ratio:2),
                              (min-resolution: 2dppx){
              background-image: url("../images/japan/itsukushima@2x.jpg");
            }
            @include countryBox;
        }
        .factory{
            background-image: url('../images/japan/factory.jpg');
            @media screen and (-webkit-min-device-pixel-ratio:2),
                              (min-resolution: 2dppx){
              background-image: url("../images/japan/factory@2x.jpg");
            }
            @include countryBox;
        }
        .hawaii{
            background-image: url('../images/again/hawaii.jpg');
            @media screen and (-webkit-min-device-pixel-ratio:2),
                              (min-resolution: 2dppx){
              background-image: url("../images/again/hawaii@2x.jpg");
            }
            @include countryBox;
        }
        .vancouver{
            background-image: url('../images/again/vancouver.jpg');
            @media screen and (-webkit-min-device-pixel-ratio:2),
                              (min-resolution: 2dppx){
              background-image: url("../images/again/vancouver@2x.jpg");
            }
            @include countryBox;
        }
        .losangels{
            background-image: url('../images/again/losangels.jpg');
            @media screen and (-webkit-min-device-pixel-ratio:2),
                              (min-resolution: 2dppx){
              background-image: url("../images/again/losangels@2x.jpg");
            }
            @include countryBox;
        }
        .nikko{
            background-image: url('../images/again/nikko.jpg');
            @media screen and (-webkit-min-device-pixel-ratio:2),
                              (min-resolution: 2dppx){
              background-image: url("../images/again/nikko@2x.jpg");
            }
            @include countryBox;
        }
        .kyoto{
            background-image: url('../images/again/kyoto.jpg');
            @media screen and (-webkit-min-device-pixel-ratio:2),
                              (min-resolution: 2dppx){
              background-image: url("../images/again/kyoto@2x.jpg");
            }
            @include countryBox;
        }
        .okinawa{
            background-image: url('../images/again/okinawa.jpg');
            @media screen and (-webkit-min-device-pixel-ratio:2),
                              (min-resolution: 2dppx){
              background-image: url("../images/again/okinawa@2x.jpg");
            }
            @include countryBox;
        }
    }
    
    
    @media(max-width: 678px){
        @include flex-direction(column);
        .country-box{
            width: 100%;
            
            h5{
                font-size: 2.1rem;
            }
            .australia, .turkey, .canada, .england, .vietnam, .singapore, .kanazawa, .kagawa, .nanatsugama, .fox_village, .itsukushima, .factory, .hawaii, .vancouver, .losangels, .kyoto, .nikko, .okinawa{
                @include countryBox_sp;
            }
        }
    }
}
//countries
